Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
Wand==0.3.7
Werkzeug==0.9.6
autoenv==1.0.0
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
ipython==2.2.0
itsdangerous==0.24
pyreadline==2.0
pyzmq==14.3.1
tornado==4.0.1
virtualenv==1.11.6
