Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.6.0
Pygments==1.6
Wand==0.3.7
Werkzeug==0.9.6
autoenv==1.0.0
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
gunicorn==19.1.1
ipython==2.2.0
itsdangerous==0.24
jdcal==1.0
matplotlib==1.4.0
numpy==1.9.0
openpyxl==2.1.1
praw==2.1.18
pyparsing==2.0.2
pyreadline==2.0
python-dateutil==2.2
pyzmq==14.3.1
requests==2.4.3
six==1.8.0
tornado==4.0.1
update-checker==0.10
virtualenv==1.11.6
xlrd==0.9.3
xlwt==0.7.5
