{% extends "base.html" %}
{% block content %}
<h1 class="text-center">FSEM Scheduler</h1>
<form enctype="multipart/form-data" action="/process" method="POST">
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    <div class="col-md-3 col-md-offset-2">
      <h2 class="text-center">Student Data</h2>
      <div class="file-handler-box" id="sd-file-handler-box">
        <div class="file-field">
          <span id="student-data-filename">No file selected</span>
          <input type="file" class="hidden-file" name="student-data" id="student-data">
          <button class="btn btn-default" id="student-data-button">Browse...</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <h2 class="text-center">Class Data</h2>
      <div class="file-handler-box" id="cd-file-handler-box">
        <div class="file-field">
          <span id="course-data-filename">No file selected</span>
          <input type="file" class="hidden-file" name="course-data" id="course-data">
          <button class="btn btn-default" id="course-data-button">Browse...</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
