{% extends "base.html" %}
{% block content %}
<h1 class="text-center">FSEM Scheduler</h1>
<form enctype="multipart/form-data" action="/process" method="POST">
  <div class="row">
    <div class="col-md-3 col-md-offset-2">
      <h2 class="text-center">Student Data</h2>
      <div class="file-hander">
        <input type="file" name="student-data">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-2">
      <h2 class="text-center">Class Data</h2>
      <div class="file-hander">
        <input type="file" name="class-data">
        <span class="glyphicon glyphicon-cloud-upload"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5 process">
      <button type="submit" class="btn btn-default">Process</button>
    </div>
  </div>
</form>
{% endblock %}
